.has-fade{
    visibility: hidden;
}


@keyframes overlay-fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}

.overlay-fade-in {
    animation: overlay-fade-in 300ms ease-in-out forwards;
}

@keyframes overlay-fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }
    99% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}

.overlay-fade-out {
    animation: overlay-fade-out 300ms ease-in-out forwards;
}