.footer {
    background: $darkBlue;

    &__grid {
        @include breakpoint-down(large) {
            text-align: center;
        }

        @include breakpoint-up(large) {
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            grid-gap: 1.875rem;
            height: auto;
            width: 100%;
        }
    }

    &__item {
        @include breakpoint-up(large) {
            &:not(:last-child) {
                margin-right: 5rem;
                text-align: left;
            }

            &:last-child {
                text-align: right;
                justify-self: right;
            }

            p {
                font-size: $font-sm;
            }
        }

        @include breakpoint-down(large) {
            &:nth-child(5) {
                padding-top: 1.875rem;
            }
            p {
                padding-top: 0.875rem;
            }
        }
    }

    &__links {
        a {
            display: block;
            padding-bottom: 20px;
            color: $White;
            font-size: 15px;
            transition: color 200ms ease-in-out;

            @include breakpoint-up(large) {
                

                &:hover {
                    color: $limeGreen;
                }
            }
        }
    }

    &__icons {
        @include breakpoint-down(large) {
            justify-content: center;
            padding-bottom: 1.875rem;
            padding-top: 1.875rem;
        }
        padding-top: 50px;
        display: flex;

        a {
            padding-right: 20px;
            &:last-child {
                padding-right: 0px;
            }

            @include breakpoint-up(large) {
                svg path{
                    transition: fill 200ms ease-in-out;
                }
                &:hover svg path {
                    fill: $limeGreen;
                }
            }
        }
    }
}
