//colors 

$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$BrightCyan: hsl(192, 70%, 51%);
$GrayishBlue: hsl(233, 8%, 62%);
$LightGrayishBlue: hsl(220, 16%, 96%);
$VeryLightGray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

$limetocyan: linear-gradient(to right, $limeGreen, $BrightCyan);


//fonts
$font-sm : 0.875rem; //14px
$font-xsm : 0.75rem; //12px
$font-md : 1.125rem; //18px
$font-lg : 1.25rem; //20px
$font-xlg : 3.25rem; //52px